# Cloudflare
CF_ACCOUNT_ID=
CF_API_TOKEN=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=

# Planetary Computer
PC_SDK_SUBSCRIPTION_KEY=

# USGS EarthData
EARTHDATA_USERNAME=
EARTHDATA_PASSWORD=

# Pipeline
DEPLOY_ENV=dev
DBT_DUCKDB_PATH=data/marshall.duckdb
